[flake8]
# مجلّدات وملفّات نستثنيها كليّاً من الفحص
exclude =
    .git,
    __pycache__,
    .venv,
    zip,
    images_fpr_test,
    backups,
    tests,
    *.zip,
    *.log

# نرفع حدّ الطول ونتجاهل بعض الأخطاء (unused imports, unused variables, وطول السطر)
max-line-length = 120
ignore =
    E203,
    W503,
    F401,  # imported but unused
    F841,  # local variable assigned but never used
    E501,  # line too long
